body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}
section{
    
    padding-bottom: 100px;
}
.container{
    display: flex;
}

.half-align{
    width: 50%;
}
.top-left{
    padding-top: 150px;
    padding-left: 5%;
}
#top-heading{
    font-size: 55px;
    color: #575757;
    font-weight: bolder;
}
span{
    color: #FBA24F;
}

.top-section p{
    padding: 20px 0px;
    color: #828282;
    line-height: 2;
    font-size: 20px;
}

.button-style{
    text-decoration: none;
    color: white;
    padding: 20px 40px;
    background-image: linear-gradient(orange,tomato);
    border-radius: 30px;
}

.top-right{
    padding-top: 40px;
}

.about-me-sec{
    background-image: url(images/shapes/7.png) ;
    background-size: 1320px 600px ;
    background-repeat: no-repeat;

}

.about-me-sec .left{
    text-align: center  ;
    padding-top: 70px;
}

.about-me-sec .right{
    padding-left: 70px;
    padding-right: 70px;
    text-align: justify;
}

.about-me-sec h3{
    padding-top: 100px;
    color: #707070;
    font-size: 40px;
}

.about-me-sec p{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    padding-bottom: 100px;
    color: #18191F;
}

.recipies-sec h3{
    color: #707070;
    font-size: 40px;
}

.recipies-sec .description{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #18191F;
}

.recipies-sec .div1{
    text-align: center;
}

.items{
    margin: 5px 51px 5px 51px;
    width: 1218px;
}

.item-list {
    margin: 0px 20px 0px 20px;
    width: 366px;
    border-radius: 25px;
    box-shadow: 5px 5px 20px gray;
}

.item-list img{
    margin: 15px 15px 0px 15px;
    height: 250px;
    width: 336px;
}

.item-list h4{
    margin-left: 15px;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    color: #18191F;
}

.item-list p{
    margin: 0px 15px 15px 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #18191F;
    text-align: justify;
}


.social-media{
    margin: 0% 5% 0% 5%;
    height: 150px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px gray;
}

.social-style{
    
    padding: 5% 0% 0% 10%;
    width: 33%;
}

.social-media h1{
    font-size: 48px;
    line-height: 10px;
}


